/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
}

/* Estilos para o cabeçalho */
.header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    font-weight: bold;
    margin-right: auto;
}

.container {
    width: 70%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
}

/* Estilos para o conteúdo */
.content {
    max-width: 800px;
    margin: 5px auto;
    padding: 20px;
}

h1 {
    color: #007BFF;
}

/* Estilos para o rodapé */
.footer {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer p {
    margin: 5px 0;
}